.header{
    background-image: url('./../../images/header.jpeg');
    background-size: cover;
    background-position: center;
    background-color: #171313;
    background-repeat: no-repeat;
    border-radius: 10px;
    color: aliceblue;
    height: 400px;
}